.center {

    @include clearfix;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    @media only screen and (min-width: $smallVP) {

        padding: 0;
        width: 738px;
        /*
            Min padding: 9px
            Max padding: 131px
        */
    }

    @media only screen and (min-width: $mediumVP) {

        width: 960px;
        /*
            Min padding: 20px
            Max padding: 160px
        */
    }

    @media only screen and (min-width: $largeVP) {

        width: 1100px;
        /*
            Min padding: 40px
            Max padding: ~
        */
    }

    @media only screen and (min-width: $xlargeVP) {

        width: 1600px;
        /*
            Min padding: 40px
            Max padding: ~
        */
    }
}
