$titleFont: 'Oswald', sans-serif;
$baseFont: 'Roboto', sans-serif;
$codeFont: 'Source Code Pro', monospace;

$bannerBgColor: #256d4e;

$smallVP: 768px;
$mediumVP: 1000px;
$largeVP: 1140px;
$xlargeVP: 1640px;
