.columns {

    @media only screen and (max-width: 767px) {
        &__column {
            margin: 25px 0;
        }
    }

    @media only screen and (min-width: 768px) {
        @include clearfix;

        &__column {
            float: left;
        }

        &__column--1 {
            width: 8.33%;
        }

        &__column--4 {
            width: 33.33%;
        }

        &__column--6 {
            width: 50%;
        }

        &__column--8 {
            width: 66.66%;
        }

        &__column--10 {
            width: 83.33%;
        }

        &__column--padding_left {
            padding-left: 25px;
        }

        &__column--padding_right {
            padding-right: 25px;
        }
    }

    @media only screen and (min-width: 1000px) {
        &__column--padding_left {
            padding-left: 50px;
        }

        &__column--padding_right {
            padding-right: 50px;
        }
    }

    @media only screen and (min-width: 1140px) {
        &__column--padding_left {
            padding-left: 75px;
        }

        &__column--padding_right {
            padding-right: 75px;
        }
    }
}