.home_banner {

    height: 545px;
    background: #256d4e url(/img/home_banner_bg.jpg) center top no-repeat;

    &__content {
        padding: 0 0 0 550px;
        overflow: hidden;
    }

    &__title {
        margin: 100px 0 0 0;

        color: #f9f2e8;
        font-family: 'Tungsten A', 'Tungsten B';
        font-weight: 500;
        font-size: 70px;
        text-shadow: 1px 1px 0 #1e5f42;
    }

    &__intro {
        margin: 15px 0 0 0;

        color: #f9f2e8;
        font-family: 'Whitney SSm A', 'Whitney SSm B';
        font-weight: 400;
        font-size: 16px;
        line-height: 2;
    }

    &__links {
        margin: 25px 0 0 0;
    }

    &__link {
        transition: all .15s;

        display: inline-block;
        margin: 0 10px 0 0;
        padding: 10px 30px;

        color: #4cb88a;
        font-family: 'Tungsten A', 'Tungsten B';
        font-weight: 500;
        font-size: 25px;
        text-decoration: none;

        border-radius: 3px;
        background: darken(#1a4c37, 2%);

        &:hover {
            color: #f9f2e8;
            background: darken(#1a4c37, 4%);
        }
    }
}