.home_features {

    &__item--interfaces {
        background: #f1ede5;
    }

    &__title {
        position: relative;

        color: #a39989;
        font-family: 'Whitney SSm A', 'Whitney SSm B';
        font-weight: 300;
        text-transform: uppercase;

        &:before {
            content: "";

            position: absolute;
            left: -40px;
            top: 5px;

            display: block;
            width: 30px;
            height: 40px;

            background-repeat: no-repeat;
            background-size: 30px;
        }
    }

    &__item--autoloading &__title:before {
        background-image: url(/img/autoloading_icon.png);
    }

    &__item--interfaces &__title:before {
        background-image: url(/img/interfaces_icon.png);
    }

    &__item--coding_styles &__title:before {
        top: 8px;
        background-image: url(/img/coding_styles_icon.png);
    }

    &__description {
        margin: 10px 0 0 0;

        color: #746a5b;
        font-family: 'Whitney SSm A', 'Whitney SSm B';
        font-size: 16px;
        line-height: 1.6;
    }

    &__links {
        margin: 15px 0 25px 0;
    }

    li {
        display: inline;
    }

    &__link {
        display: inline-block;
        margin: 0 5px 5px 0;
        padding: 5px 8px;

        color: #746a5b;
        font-family: 'Whitney SSm A', 'Whitney SSm B';
        font-size: 13px;
        text-decoration: none;

        border-radius: 3px;
        background: #d4cfc6;

        &:hover {
            color: white;
            background: #a39989;
        }
    }

    &__chrome {
        height: 20px;
        border-radius: 3px 3px 0 0;
        background: #d4cfc6;
    }

    &__chrome_dot {

        float: left;
        margin: 9px 0 0 6px;

        width: 4px;
        height: 4px;

        border-radius: 3px;
        background: #b0a796;

        &:first-child {
            margin-left: 10px;
        }
    }

    &__code {
        display: block;
        overflow: hidden;

        padding: 25px;
        min-height: 200px;

        font-family: 'Source Code Pro';
        font-size: 15px;
        line-height: 1.3;

        background: white;
    }

    @media only screen and (max-width: 767px) {

        &__content {
            max-width: 550px;
            margin: 0 auto 25px auto;
            padding: 50px 0 0 50px;
        }

        &__title {
            font-size: 34px;
        }

        &__editor {
            margin: 0 auto;
            max-width: 550px;
        }
    }

    @media only screen and (min-width: 768px) {
        &__item {
            @include clearfix;

            padding: 50px 0 0 0;
        }

        &__content {
            float: left;
            width: 50%;
            padding: 0 50px 0 40px;
        }

        &__title {
            margin: 25px 0 0 0;
            font-size: 34px;
        }

        &__editor {
            float: left;
            width: 50%;
        }
    }

    @media only screen and (min-width: 1000px) {
        &__title {
            margin: 25px 0 0 0;
            font-size: 40px;
        }

        &__content {
            padding: 0 100px 0 40px;
        }
    }
}
