.markdown {

    color: #595143;
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-size: 18px;
    line-height: 1.9;

    h1 {
        margin: 35px 0 25px 0;

        font-size: 40px;
        line-height: 1.25;
        font-weight: 400;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    h2 {
        margin: 35px 0 25px 0;

        font-size: 22px;
        line-height: 1.5;
        font-weight: 700;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    h3 {
        margin: 35px 0 25px 0;

        font-size: 20px;
        line-height: 1.5;
        font-weight: 700;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        margin: 25px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul,
    ol {
        margin: 20px 0;
        padding: 0 0 0 30px;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    li {
        margin: 10px 0;
        line-height: 1.6;
    }

    a {
        color: #595143;
        text-decoration: underline;

        &:hover {
            color: black;
        }
    }

    strong {
        font-weight: 700;
    }

    em {
        font-style: italic;
    }
}