---
layout: page
title: PHP Standards Recommendations
permalink: psr/
---

{% block page %}
<div class="markdown">
    {% set index = include('fig-standards/index.md') %}
    {{ index | markdown }}
</div>
{% endblock %}
