.site_header {

    background: #0a202b;

    @media only screen and (max-width: 767px) {
        text-align: center;
    }

    @media only screen and (min-width: 768px) {
        height: 100px;
    }
}