[submodule "fig-standards"]
	path = source/_includes/fig-standards
	url = https://github.com/php-fig/fig-standards.git
[submodule "source/_includes/per-coding-style"]
	path = source/_includes/per-coding-style
	url = git@github.com:php-fig/per-coding-style.git
