version: '3.5'

services:
  php:
    build:
      context: docker/php
    user: fig
    volumes:
    - .:/fig-website
    - ./docker/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      PHP_IDE_CONFIG: "serverName=PHP-FIG"
    working_dir: /fig-website
    command:
      - 'sculpin'
      - 'generate'
      - '--watch'
      - '--server'
    ports:
      - 8000:8000

  ruby:
    build:
      context: docker/ruby
    user: 1000:1000
    working_dir: /fig-website
    volumes:
      - .:/fig-website
    entrypoint: 'sh'

  node-sass:
    image: node:16-alpine
    user: 1000:1000
    working_dir: /fig-website
    volumes:
      - .:/fig-website
    command:
      - ./bin/build-sass.sh
