<aside id="sidebar">

    <a href="https://groups.google.com/forum/?fromgroups#!forum/php-fig" class="button mailing-list-button" target="_blank">
        <small>Join Our</small>
        Mailing List
    </a>

    <a href="https://groups.google.com/forum/?fromgroups#!forum/php-fig-cs" class="button mailing-list-button" target="_blank">
        <small>Join Our</small>
        CS Mailing List
    </a>

    <a href="/irc/" class="button">
        <small>freenode#phpfig</small>
        IRC Chat
    </a>

    <a href="/faq/" class="button"  id="faq-button">
        <small>Frequently Asked</small>
        Questions
    </a>

    <a href="/psr/psr-0" class="button">
        <small>Autoloading Standard</small>
        PSR-0
    </a>

    <a href="/psr/psr-1" class="button">
        <small>Basic Coding Standard</small>
        PSR-1
    </a>

    <a href="/psr/psr-2" class="button">
        <small>Coding Style Guide</small>
        PSR-2
    </a>

    <a href="/psr/psr-3" class="button">
        <small>Logger Interface</small>
        PSR-3
    </a>

</aside>
