<aside id="sidebar">

	<a href="https://groups.google.com/forum/?fromgroups#!forum/php-fig" class="button"  id="mailing-list-button" target="_blank">
		<small>Join Our</small>
		Mailing List
	</a>

	<a href="https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-0.md" class="button" target="_blank">
		<small>Autoloading Standard</small>
		PSR-0
	</a>

	<a href="https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-1-basic-coding-standard.md" class="button" target="_blank">
		<small>Basic Coding Standard</small>
		PSR-1
	</a>

	<a href="https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-2-coding-style-guide.md" class="button" target="_blank">
		<small>Coding Style Guide</small>
		PSR-2
	</a>

</aside>
