{% extends 'base' %}

{% block wrapper %}
<div class="page_banner">
    <div class="center">
        <h1 class="page_banner__title">{{ page.title }}</h1>
    </div>
</div>

<div class="center">
    <div class="page_content__padding">
        {{ page.blocks.content | raw }}
    </div>
</div>
{% endblock %}
