{% extends 'page' %}

{% block contents %}


    <div class="columns__column columns__column--8">
        <div class="markdown">
            {{ page.blocks.content| markdown }}
        </div>
    </div>


    {% for author in data.authors if author.identifier == page.author %}
        <div class="columns__column columns__column--4 columns__column--padding_left">
            <nav class="sidebar">
                {% include 'post-author.twig' %}
            </nav>
        </div>
    {% endfor %}
{% endblock %}
