.sidebar {

    margin: 50px 0;
    padding: 0 20px;

    &:first-child {
        margin-top: 0;
    }

    background: #d4cfc6;
    overflow: hidden;

    &__title {
        margin: 25px 0;
        padding: 0 0 5px 0;

        color: #5f5b53;
        font-family: 'Tungsten A', 'Tungsten B';
        font-weight: 500;
        font-size: 30px;

        border-bottom: solid 1px #aaa69d;
    }

    &__description {
        margin: 25px 0;

        color: #595143;
        font-family: 'Whitney SSm A', 'Whitney SSm B';
        font-size: 15px;
        line-height: 1.5;
    }

    &__list {
        margin: 25px 0;
    }

    &__item {
        margin: 10px 0;
    }

    &__link {
        position: relative;

        display: block;
        padding: 13px 40px 12px 15px;

        color: #f9f6f0;
        font-family: 'Whitney SSm A', 'Whitney SSm B';
        font-weight: bold;
        font-size: 15px;
        text-decoration: none;

        background-color: #aaa69d;


        &:after {
            content: "";

            position: absolute;
            right: 12px;
            top: 50%;
            margin: -11px 0 0 0;

            display: block;
            width: 20px;
            height: 23px;

            background: url(/img/arrow_right_brown_icon.png) no-repeat;
            background-size: cover;
        }

        &:hover {
            background-color: lighten(#aaa69d, 5%);
        }
    }

    &__link--active {
        background-color: #f09f47;

        &:after {
            background-image: url(/img/arrow_right_orange_icon.png);
        }

        &:hover {
            background-color: darken(#f09f47, 5%);
        }
    }

    @media only screen and (min-width: 768px) {
        padding: 0 10px;

        &__list {
            margin: 10px 0;
        }

        &__link {
            font-size: 13px;
        }
    }

    @media only screen and (min-width: 1000px) {
        padding: 0 20px;

        &__list {
            margin: 25px 0;
        }

        &__link {
            font-size: 15px;
        }
    }
}