---
layout: default
---

<div class="columns">
    <div class="columns__column columns__column--8">
        <div class="markdown">
            {{ content }}
        </div>
    </div>
    <div class="columns__column columns__column--4 columns__column--padding_left">
        <nav class="sidebar">
            <h2 class="sidebar__title">Bylaws index:</h2>
            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <a class="sidebar__link {% if page.url contains '/bylaws/mission-and-structure/' %}sidebar__link--active{% endif %}" href="/bylaws/mission-and-structure/">Mission and Structure</a>
                </li>
                <li class="sidebar__item">
                    <a class="sidebar__link {% if page.url contains '/bylaws/psr-workflow/' %}sidebar__link--active{% endif %}" href="/bylaws/psr-workflow/">PSR Workflow</a>
                </li>
                <li class="sidebar__item">
                    <a class="sidebar__link {% if page.url contains '/bylaws/membership/' %}sidebar__link--active{% endif %}" href="/bylaws/membership/">Membership</a>
                </li>
                <li class="sidebar__item">
                    <a class="sidebar__link {% if page.url contains '/bylaws/licensing-policies/' %}sidebar__link--active{% endif %}" href="/bylaws/licensing-policies/">Licensing Policies</a>
                </li>
                <li class="sidebar__item">
                    <a class="sidebar__link {% if page.url contains '/bylaws/psr-amendments/' %}sidebar__link--active{% endif %}" href="/bylaws/psr-amendments/">PSR Amendments</a>
                </li>
                <li class="sidebar__item">
                    <a class="sidebar__link {% if page.url contains '/bylaws/psr-naming-conventions/' %}sidebar__link--active{% endif %}" href="/bylaws/psr-naming-conventions/">PSR Naming Conventions</a>
                </li>
            </ul>
        </nav>
    </div>
</div>