<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/css/all.css">
</head>
<body>

<header class="site_header">
    <div class="center">
        <a class="site_logo" href="/">
            <span class="site_logo__short_name">PHP-FIG</span>
            <span class="site_logo__long_name">The PHP Framework Interop Group</span>
        </a>
        <nav class="site_menu">
            <ul class="site_menu__list">
                <li class="site_menu__item">
                    <a class="site_menu__link {% if page.url == '/index.html' %}site_menu__link--active{% endif %}" href="/">Home</a>
                </li>
                <li class="site_menu__item">
                    <a class="site_menu__link {% if page.url == '/psr/' %}site_menu__link--active{% endif %}" href="/psr/">Standards Recommendations</a>
                </li>
                <li class="site_menu__item">
                    <a class="site_menu__link {% if page.url == '/members/' %}site_menu__link--active{% endif %}" href="/members/">Members</a>
                </li>
                <li class="site_menu__item">
                    <a class="site_menu__link {% if page.url == '/bylaws/' %}site_menu__link--active{% endif %}" href="/bylaws/">Bylaws</a>
                </li>
                <li class="site_menu__item">
                    <a class="site_menu__link {% if page.url == '/faqs/' %}site_menu__link--active{% endif %}" href="/faqs/">FAQs</a>
                </li>
                <li class="site_menu__item">
                    <a class="site_menu__link {% if page.url == '/get-involved/' %}site_menu__link--active{% endif %}" href="/get-involved/">Get Involved</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

{{ content }}

</html>