---
layout: default
---
{% if page.translations %}
<nav id="lngmenu">
  Available translations:
  <ul>
    {% for lang in page.translations %}
      {% if lang.path %}
        <li><a href="{{ lang.path }}">{{ lang.name }}</a></li>
      {% else %}
        <li><b>{{ lang.name }}</b></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endif %}

{% if page.disclaimer %}
  {% include disclaimer.html %}
{% endif %}

{{ content }}

{% if page.additional %}
<nav id="additional">
  Additional Info:
  <ul>
    {% for additional in page.additional %}
    {% if additional.path %}
    <li><a href="{{ additional.path }}">{{ additional.name }}</a></li>
    {% else %}
    <li><b>{{ additional.name }}</b></li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endif %}

