---
layout: base
title: PHP-FIG — PHP Framework Interop Group
---

{% block content %}

<div class="home_banner">
    <div class="center">
        <div class="home_banner__content">
            <h1 class="home_banner__title">Moving PHP forward through collaboration and standards.</h1>
            <p class="home_banner__intro">Welcome to the PHP Framework Interop Group! We're a group of established PHP projects whose goal is to talk about commonalities between our projects and find ways we can work better together.</p>
            <div class="home_banner__links">
                <a class="home_banner__link" href="/psr/">View recommendations (PSRs)</a>
                <a class="home_banner__link" href="/faqs/">Frequently asked questions</a>
            </div>
        </div>
    </div>
    <div class="home_banner__background"></div>
</div>

<div class="home_features">
    <ul class="home_features__list">
        <li class="home_features__item home_features__item--autoloading">
            <div class="center">
                <div class="home_features__content">
                    <h2 class="home_features__title">Autoloading</h2>
                    <p class="home_features__description">Autoloaders remove the complexity of including files by mapping namespaces to file system paths.</p>
                    <ul class="home_features__links">
                        <li><a class="home_features__link" href="/psr/psr-4/">PSR-4: Improved Autoloading</a></li>
                    </ul>
                </div>
                <div class="home_features__editor">
                    <div class="home_features__chrome">
                        <div class="home_features__chrome_dot"></div>
                        <div class="home_features__chrome_dot"></div>
                        <div class="home_features__chrome_dot"></div>
                    </div>
                    <div class="home_features__code">
                        {% filter markdown %}
~~~php
<?php

use Vendor\Package\ClassName;

$object = new ClassName();
~~~
                        {% endfilter %}
                    </div>
                </div>
            </div>
        </li>
        <li class="home_features__item home_features__item--interfaces">
            <div class="center">
                <div class="home_features__content">
                    <h2 class="home_features__title">Interfaces</h2>
                    <p class="home_features__description">Interfaces simplify the sharing of code between projects by following expected contracts.</p>
                    <ul class="home_features__links">
                        <li><a class="home_features__link" href="/psr/psr-3/">PSR-3: Logger Interface</a></li>
                        <li><a class="home_features__link" href="/psr/psr-6/">PSR-6: Caching Interface</a></li>
                        <li><a class="home_features__link" href="/psr/psr-11/">PSR-11: Container Interface</a></li>
                        <li><a class="home_features__link" href="/psr/psr-13/">PSR-13: Hypermedia Links</a></li>
                        <li><a class="home_features__link" href="/psr/psr-14/">PSR-14: Event Dispatcher</a></li>
                        <li><a class="home_features__link" href="/psr/psr-16/">PSR-16: Simple Cache</a></li>
                        <li><a class="home_features__link" href="/psr/psr-20/">PSR-20: Clock</a></li>
                    </ul>
                </div>
                <div class="home_features__editor">
                    <div class="home_features__chrome">
                        <div class="home_features__chrome_dot"></div>
                        <div class="home_features__chrome_dot"></div>
                        <div class="home_features__chrome_dot"></div>
                    </div>
                    <div class="home_features__code">
                        {% filter markdown %}
~~~php
<?php

namespace Psr\Log;

/**
 * Describes a logger instance
 */
interface LoggerInterface
{
~~~
                        {% endfilter %}
                    </div>
                </div>
            </div>
        </li>
        <li class="home_features__item home_features__item--interfaces">
            <div class="center">
                <div class="home_features__content">
                    <h2 class="home_features__title">HTTP</h2>
                    <p class="home_features__description">Interoperable standards and interfaces to have an agnostic approach to handling HTTP requests and responses, both on client and server side.</p>
                    <ul class="home_features__links">
                        <li><a class="home_features__link" href="/psr/psr-7/">PSR-7: HTTP Message Interfaces</a></li>
                        <li><a class="home_features__link" href="/psr/psr-15/">PSR-15: HTTP Handlers</a></li>
                        <li><a class="home_features__link" href="/psr/psr-17/">PSR-17: HTTP Factories</a></li>
                        <li><a class="home_features__link" href="/psr/psr-18/">PSR-18: HTTP Client</a></li>
                    </ul>
                </div>
                <div class="home_features__editor">
                    <div class="home_features__chrome">
                        <div class="home_features__chrome_dot"></div>
                        <div class="home_features__chrome_dot"></div>
                        <div class="home_features__chrome_dot"></div>
                    </div>
                    <div class="home_features__code">
                        {% filter markdown %}
~~~php
<?php

namespace Psr\Http\Message;

/**
 * Representation of an outgoing, client-side request.
 */
interface RequestInterface extends MessageInterface
{
~~~
                        {% endfilter %}
                    </div>
                </div>
            </div>
        </li>
        <li class="home_features__item home_features__item--coding_styles">
            <div class="center">
                <div class="home_features__content">
                    <h2 class="home_features__title">Coding Styles</h2>
                    <p class="home_features__description">Standardized formatting reduces the cognitive friction when reading code from other authors.</p>
                    <ul class="home_features__links">
                        <li><a class="home_features__link" href="/per/coding-style/">PER Coding Style</a></li>
                        <li><a class="home_features__link" href="/psr/psr-1/">PSR-1: Basic Coding Standard</a></li>
                    </ul>
                </div>
                <div class="home_features__editor">
                    <div class="home_features__chrome">
                        <div class="home_features__chrome_dot"></div>
                        <div class="home_features__chrome_dot"></div>
                        <div class="home_features__chrome_dot"></div>
                    </div>
                    <div class="home_features__code">
                        {% filter markdown %}
~~~php
<?php

namespace Vendor\Package;

class ClassName
{
    public function fooBarBaz($arg1, &$arg2, $arg3 = [])
    {
        // method body
    }
}
~~~
                        {% endfilter %}
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}
