---
title: Get Involved
---

<div class="columns">
    <div class="columns__column columns__column--10">
        <div class="markdown">
            <p class="lead_in">Help influence future recommendations by participating in our discussions. Anybody who subscribes to the Google Group is part of the PHP-FIG.</p>
            <p>As soon as you subscribe to the mailing list and/or join the Discord Server you are a PHP-FIG Community Member, who can influence standards, make suggestions, give feedback, etc. Only PHP-FIG Voting Members can start or participate in votes, but the discussion and formation stages involve everyone.</p>
        </div>
    </div>
</div>

<ul class="get_involved_links">
    <li class="get_involved_links__item get_involved_links__item--twitter">
        <a class="get_involved_links__link" href="https://twitter.com/phpfig">Follow us <span class="get_involved_links__link_highlight">@phpfig</span></a>
    </li>
    <li class="get_involved_links__item get_involved_links__item--discord">
        <a class="get_involved_links__link" href="https://discord.gg/php-fig">Discuss on Discord</a>
    </li>
    <li class="get_involved_links__item get_involved_links__item--github">
        <a class="get_involved_links__link" href="https://github.com/php-fig">Contribute via <span class="get_involved_links__link_highlight">GitHub</span></a>
    </li>
    <li class="get_involved_links__item get_involved_links__item--mailing_list">
        <a class="get_involved_links__link" href="https://groups.google.com/forum/?fromgroups#!forum/php-fig">Join our <span class="get_involved_links__link_highlight">mailing list</span></a>
    </li>
</ul>
